# Connection secrets.
kubernetes/publisher/secret/
kubernetes/subscriber/secret/
kubernetes/secret/

# Monitoring applications.
kubernetes/monitoring/grafana/dashboard/vendor/

# Terraform
**/.terraform
**/*.tfstate
**/*.backup
**/*.hcl